
.cards-wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.card-wrapper{
  width: 40%;
  position: absolute;
}

.card{
  width: 100%;
  margin: 0 auto;
  background-color: var(--card-bg); 
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

.top{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0 16px 0;
}

.top h1{
  font-family: "Pacifico", serif;
}

.mid {
  display: flex;
  flex-direction: column;
}

.section-question{
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.section-question h2{

  font-size: 1.2em;
  color: var(--gold);
}


.section-options-answers{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.section-option-answer{
  border-radius: 5px;
  background-color: var(--white);
  width: 70%;
  text-align: center;
  cursor: pointer;
}

.section-option-answer h1{
  padding: 16px 4px;
}

.bottom-buttons-wrapper{
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}

.button-style{
  background-color: var(--white);
  border: none;
  padding: 5px;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

#skip-button ,#submit-button{
  font-size: 0.5em;
}

.box-shadow{
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.selected {
  background-color: var(--selected);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.correct-answer{
  background-color: var(--correct);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.score-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.score-card-container {
  width: 40%;
  margin: 0 auto;
}

.scoreboard{
  height: 30vh;
  display: grid;
  place-items: center;
  margin: 5px;
  font-size: 1.85rem;
}

@media screen and (max-width: 768px) {
  .card-wrapper, .score-card-container {
    width: 90%;
    font-size: 0.75em
  }
}

@media screen and (max-width:1280px){
  .card-wrapper, .score-card-container {
    width: 80%;
  }

  .score-card-container h1{
    font-size: 1.75rem;
  }
}